<!DOCTYPE html>
<html lang="es">
  <head>
    <title>{page_title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./views/css/bootstrap.css" rel="stylesheet">
    <link href="./views/css/dashboard.css" rel="stylesheet">
    <script type="text/javascript" src="views/ajax.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="./views/js/bootstrap.js"></script>
  </head>
  <body>
    <!--[if lt IE 9]>
      <script src="css3-mediaqueries.js"></script>
    <![endif]-->
    <div id="wrapper">
      <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">PROW</a>
                </div>
                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="./index.php?ctrl=vehicle">Vehiculo</a></li>
                    <li><a href="./index.php?ctrl=location">Ubicaciones</a></li>
                    <li><a href="./index.php?ctrl=user">Usuario</a></li>
                    <li><a href="./index.php?ctrl=inventory">Inventario</a></li>
                    <li><a href="./index.php?ctrl=user&act=changepass">Cambiar Contraseña</a></li>
                    <li><a href="./index.php?ctrl=user&act=logout">Cerrar Sesion</a></li>
                  </ul>
                </div><!--/.nav-collapse -->
              </div>
            </nav>
      </header>