	<div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-3">
            <h2>Insertar Invetario</h2>
            <p>Insertar un nuevo registro de inventario.</p>
          	<p><a class="btn btn-default" href="?ctrl=inventory&act=create" role="button">Llenar formulario &raquo;</a></  p>
          </div>
          <div class="col-md-3">
            <h2>Modificar Invetario</h2>
            <p>Modificar la información de un inventario.</p>
          	<p><a class="btn btn-default" href="?ctrl=inventory&act=update" role="button">Modificar &raquo;</a></  p>
          </div>
          <div class="col-md-3">
            <h2>Eliminar Inventario</h2>
          	<p>Ver una lista con todos los inventarios del sistema</p>
            <p><a class="btn btn-default" href="?ctrl=inventory&act=delete" role="button">Eliminar &raquo;</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h2>Listado de Inventario</h2>
          	<p>Ver una lista con todos los inventarios del sistema</p>
            <p><a class="btn btn-default" href="?ctrl=inventory&act=list" role="button">Ver Listado &raquo;</a></p>
          </div>
          <div class="col-md-3">
            <h2>Agregar Pieza</h2>
          	<p>Agregar una nueva pieza de vehiculo</p>
            <p><a class="btn btn-default" href="?ctrl=inventory&act=piece" role="button">Agregar &raquo;</a></p>
          </div>	
        </div>
      </div>