      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Insertar ubicacion</h2>
            <p>Insertar nueva ubicacion al sistema.</p>
          <p><a class="btn btn-default" href="./index.php?ctrl=location&act=create" role="button">Llenar formulario &raquo;</a></  p>
          </div>
          <div class="col-md-4">
            <h2>Lista de ubicaciones</h2>
          <p>Ver todas las ubicaciones en el sistema.</p>
            <p><a class="btn btn-default" href="./index.php?ctrl=location&act=select" role="button">Ver lista &raquo;</a></p>
        </div>
          <div class="col-md-4">
            <h2>Actualizar ubicacion</h2>
          <p>Actualizar los datos de ubicacion.</p>
            <p><a class="btn btn-default" href="./index.php?ctrl=location&act=update" role="button">Seleccionar ubicacion &raquo;</a></p>
          </div>
        </div>
      </div>
      