	<div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-3">
            <h2>Insertar Usuario</h2>
            <p>Insertar un nuevo usuario al sistema.</p>
          	<p><a class="btn btn-default" href="?ctrl=user&act=create" role="button">Llenar formulario &raquo;</a></  p>
          </div>
           <div class="col-md-3">
            <h2>Modificar Usuario</h2>
          	<p>Modificar la información de los usuarios</p>
            <p><a class="btn btn-default" href="?ctrl=user&act=update" role="button">Modificar &raquo;</a></p>
          </div>
          <div class="col-md-3">
            <h2>Eliminar Usuario</h2>
          	<p>Eliminar usuario del sistema</p>
            <p><a class="btn btn-default" href="?ctrl=user&act=delete" role="button">Eliminar &raquo;</a></p>
          </div>
          <div class="col-md-3">
            <h2>Listado de usuarios</h2>
          	<p>Ver una lista con todos los usuarios del sistema</p>
            <p><a class="btn btn-default" href="?ctrl=user&act=list" role="button">Ver Listado &raquo;</a></p>
          </div>
        </div>
      </div>