		<section>
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Estatus</th>
						<th>Usuario</th>
						<th>Puesto</th>
						<th>Nombre</th>
						<th>Apellido<br>Paterno</th>
						<th>Apellido<br>Materno</th>
						<th>Email</th>
						<th>Telefono</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							{id}
						</td>
						<td>
							{status}
						</td>
						<td>
							{user}
						</td>
						<td>
							{job}
						</td>
						<td>
							{name}
						</td>
						<td>
							{paternalLastname}
						</td>
						<td>
							{maternalLastname}
						</td>
						<td>
							{email}
						</td>
						<td>
							{phone}
						</td>
					</tr>
				</tbody>
			</table>
		</section>
