<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="">Insertar vehiculo <span class="sr-only">(current)</span></a></li>
        <li><a href="./index.php?ctrl=vehicle&act=select">Informacion de vehiculo</a></li>
        <li><a href="./index.php?ctrl=vehicle&act=select">Lista de vehiculos</a></li>
        <li><a href="./index.php?ctrl=vehicle&act=update">Actualizar vehiculo</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Insertar vehiculo</h1>
  <div class="row placeholders">
    <form class="form-horizontal" role="form" method="post" action="./index.php?ctrl=vehicle&act=create">

      <div class="form-group">
        <label for="vin" class="col-sm-2 control-label">Vin</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="vin" name="vin" placeholder="Vin" required>
        </div>
      </div>

      <div class="form-group">
        <label for="brand" class="col-sm-2 control-label">Marca</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="brand" name="brand" placeholder="Marca" required>
        </div>
      </div>

      <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Tipo</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="type" name="type" placeholder="Tipo" required>
        </div>
      </div>

      <div class="form-group">
        <label for="model" class="col-sm-2 control-label">Modelo</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="model" name="model" placeholder="Modelo" required>
        </div>
      </div>

      <div class="form-group">
        <label for="idLocation" class="col-sm-2 control-label">Ubicacion</label>
        <div class="col-sm-10">
          <select class="form-control" id="idLocation" name="idLocation">
            {options}
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="date" class="col-sm-2 control-label">Fecha</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="date" name="date" placeholder="dd-mm-aaaa" value="{todays_date}" readonly required>
        </div>
      </div>

      <div class="form-group">
        <label for="reason" class="col-sm-2 control-label">Razon</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="reason" name="reason" placeholder="Razon" required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Insertar</button>
        </div>
      </div>
    </form>
  </div>
</div>