<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="./index.php?ctrl=vehicle&act=create">Insertar vehiculo</a></li>
        <li class="active"><a href="./index.php?ctrl=vehicle&act=select">Informacion de vehiculo<span class="sr-only">(current)</span></a></li>
        <li><a href="./index.php?ctrl=vehicle&act=select">Lista de vehiculos</a></li>
        <li><a href="./index.php?ctrl=vehicle&act=update">Actualizar vehiculo</a></li>
        <li><a href="./index.php?ctrl=vehicle&act=exit">Salida de vehiculo</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Datos del vehiculo</h1>
  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <th>Vin</th>
        <td>
          {vin}
        </td>
      </tr>
        <th>Marca</th>
        <td>
          {brand}
        </td>
      <tr>
        <th>Tipo</th>
        <td>
          {type}
        </td>
      </tr>
      <tr>
        <th>Modelo</th>
        <td>
          {model}
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="sub-header">Datos de Actuales</h2>
  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <th>Usuario</th>
        <td>
          {usuario}
        </td>
      </tr>
        <th>Ubicacion</th>
        <td>
          {ubicacion}
        </td>
      <tr>
        <th>Fecha</th>
        <td>
          {fecha}
        </td>
      </tr>
      <tr>
        <th>Razon</th>
        <td>
          {razon}
        </td>
      </tr>
    </tbody>
  </table>
  
  <form class="form-horizontal" role="form" method="post" action="?ctrl=vehicle&act=change&id={id}">
		
    <div class="form-group">
	  <div class="col-sm-offset-2 col-sm-10">
	    <button type="submit" class="btn btn-default">Cambiar Ubicacion</button>
	  </div>
	</div>
   </form>
</div>