      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-3">
            <h2>Insertar vehiculo</h2>
            <p>Insertar nuevo vehiculo al sistema.</p>
          <p><a class="btn btn-default" href="./index.php?ctrl=vehicle&act=create" role="button">Llenar formulario &raquo;</a></  p>
          </div>
          <div class="col-md-3">
            <h2>Lista de vehiculos</h2>
          <p>Ver todos los vehiculos en el sistema.</p>
            <p><a class="btn btn-default" href="./index.php?ctrl=vehicle&act=select" role="button">Ver lista &raquo;</a></p>
          </div>
          <div class="col-md-3">
            <h2>Salida de vehiculo</h2>
            <p>Dar la salida a un vehiculo atendido.</p>
            <p><a class="btn btn-default" href="./index.php?ctrl=vehicle&act=exit" role="button">Dar Salida &raquo;</a></p>
          </div>
          <div class="col-md-3">
            <h2>Actualizar vehiculo</h2>
          <p>Actualizar los datos del vehiculo.</p>
            <p><a class="btn btn-default" href="./index.php?ctrl=vehicle&act=update" role="button">Seleccionar vehiculo &raquo;</a></p>
          </div>
        </div>
      </div>
      